@import url("./reset.css");
header {
  position: fixed;
  height: 132px;
  width: 100%;
  z-index: 10000;
}
header .header-pc article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
}
header .header-pc article .main-title {
  position: relative;
  width: 100%;
  height: 54px;
  margin: 16px 0 32px 0;
  align-items: center;
  color: #EAB838;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  font-family: Noto Serif KR;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-pc article .main-title :nth-child(1) a {
  color: #EAB838;
}
header .header-pc article .main-title :nth-child(2) {
  vertical-align: top;
  position: absolute;
  font-size: 0.8rem;
  width: 160px;
  top: -35%;
  right: 21%;
  padding: 10px;
}
header .header-pc article .main-title :nth-child(2) input {
  position: relative;
  font-size: 0.8rem;
  color: #000;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  padding-left: 5px;
  background: none;
  z-index: 5;
}
header .header-pc article .main-title :nth-child(2) input::-moz-placeholder {
  color: #000;
}
header .header-pc article .main-title :nth-child(2) input::placeholder {
  color: #000;
}
header .header-pc article .main-title :nth-child(2) input:focus {
  outline: none;
}
header .header-pc article .main-title :nth-child(3) {
  cursor: pointer;
}
header .header-pc article .main-title :nth-child(3) img {
  position: absolute;
  top: 0;
  right: 20%;
  padding: 10px;
}
header .header-pc article .main-title :nth-child(4) {
  cursor: pointer;
}
header .header-pc article .main-title :nth-child(4) img {
  position: absolute;
  top: 0;
  right: 18%;
  padding: 10px;
}
header .header-pc article .main-menu nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  vertical-align: middle;
  padding: 0;
  padding-bottom: 8px;
}
header .header-pc article .main-menu nav a {
  margin: 0 60px;
  color: #000;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.9px;
}

.header-m {
  display: none;
}

.footer-m {
  display: none;
}

footer {
  height: 434px;
  width: 100%;
  border: 1px solid #D9D9D9;
}
footer article .top {
  background: #FFF;
  height: 354px;
  padding: 0 19%;
  display: flex;
  justify-content: space-between;
  gap: 25%;
}
footer article .top :nth-child(1) .company {
  margin: 40px 0 24px;
  color: #EAB838;
  font-family: Noto Serif KR;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.28px;
}
footer article .top :nth-child(1) .intro {
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.16px;
}
footer article .top :nth-child(1) .intro span {
  font-family: Noto Sans KR;
  font-weight: 700;
}
footer article .top :nth-child(2) {
  font-family: Noto Sans KR;
  font-size: 1rem;
  font-style: normal;
  line-height: 32px;
}
footer article .top :nth-child(2) :nth-child(1) {
  margin: 40px 0 10px;
  height: 32px;
  color: #000;
  font-weight: 700;
  letter-spacing: -0.16px;
}
footer article .top :nth-child(2) :nth-child(2) {
  color: #EAB838;
  font-family: Noto Sans KR;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: -0.24px;
}
footer article .top :nth-child(2) :nth-child(3) {
  margin: 24px 0 32px;
  color: #000;
  font-style: normal;
  font-weight: 400;
}
footer article .top :nth-child(2) :nth-child(4) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: top;
}
footer article .top :nth-child(2) :nth-child(4) img {
  background: #FFF;
  margin: auto;
  display: block;
  width: 48px;
  height: 48px;
}
footer article .bottom {
  background: #D9D9D9;
  height: 80px;
  padding: 24px 370px;
}
footer article .bottom div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.16px;
}
footer article .bottom div a {
  color: #000;
}

@media (min-width: 480px) and (max-width: 768px) {
  header .header-pc article .main-title {
    width: 100%;
    height: 35px;
    margin: 12px 0px 28px 0px;
    line-height: 80%;
    font-size: 1.2rem;
  }
  header .header-pc article .main-title :nth-child(2) {
    position: absolute;
    font-size: 0.7rem;
    width: 130px;
    top: 3%;
    right: 9%;
  }
  header .header-pc article .main-title :nth-child(2) input {
    font-size: 0.7rem;
  }
  header .header-pc article .main-title :nth-child(3) img {
    position: absolute;
    top: 0;
    right: 5%;
    margin-right: 15px;
  }
  header .header-pc article .main-title :nth-child(4) img {
    position: absolute;
    top: 0;
    right: 3%;
  }
  header .header-pc article .main-menu nav {
    height: 20px;
    padding-bottom: 5px;
  }
  header .header-pc article .main-menu nav a {
    margin: 0 20px;
    font-size: 0.7rem;
  }
  footer {
    height: 300px;
    width: 100%;
  }
  footer .footer-pc article .top {
    height: 230px;
    padding: 0 10%;
    gap: 5%;
  }
  footer .footer-pc article .top :nth-child(1) .company {
    margin: 20px 0 3px;
    font-size: 0.85rem;
    line-height: 80%;
  }
  footer .footer-pc article .top :nth-child(1) .intro {
    font-size: 0.7rem;
    line-height: 20px;
  }
  footer .footer-pc article .top :nth-child(2) {
    font-size: 0.7rem;
    line-height: 20px;
  }
  footer .footer-pc article .top :nth-child(2) :nth-child(1) {
    margin: 20px 0px 3px;
    height: 20px;
  }
  footer .footer-pc article .top :nth-child(2) :nth-child(2) {
    font-size: 0.7rem;
  }
  footer .footer-pc article .top :nth-child(2) :nth-child(3) {
    margin: 5px 0 10px;
  }
  footer .footer-pc article .top :nth-child(2) :nth-child(4) {
    align-items: center;
    width: 80px;
  }
  footer .footer-pc article .top :nth-child(2) :nth-child(4) img {
    margin: 0;
    display: block;
    width: 20px;
    height: 20px;
  }
  footer .footer-pc article .bottom {
    height: 40px;
    padding: 10px 10%;
  }
  footer .footer-pc article .bottom div {
    height: 20px;
    font-size: 0.6rem;
    line-height: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  header .header-pc article .main-title {
    width: 100%;
    height: 44px;
    margin: 14px 0px 32px 0px;
    line-height: 100%;
    font-size: 1.45rem;
  }
  header .header-pc article .main-title :nth-child(2) {
    position: absolute;
    font-size: 0.75rem;
    width: 140px;
    top: -10%;
    right: 13%;
  }
  header .header-pc article .main-title :nth-child(2) input {
    font-size: 0.75rem;
  }
  header .header-pc article .main-title :nth-child(3) img {
    position: absolute;
    top: 0;
    right: 10%;
    margin-right: 15px;
  }
  header .header-pc article .main-title :nth-child(4) img {
    position: absolute;
    top: 0;
    right: 8%;
  }
  header .header-pc article .main-menu nav {
    height: 24px;
    padding-bottom: 5px;
  }
  header .header-pc article .main-menu nav a {
    margin: 0 25px;
    font-size: 0.85rem;
  }
  footer {
    height: 300px;
    width: 100%;
  }
  footer .footer-pc article .top {
    height: 230px;
    padding: 0 10%;
    gap: 5%;
  }
  footer .footer-pc article .top :nth-child(1) .company {
    margin: 28px 0 5px;
    font-size: 0.9rem;
    line-height: 100%;
  }
  footer .footer-pc article .top :nth-child(1) .intro {
    font-size: 0.7rem;
    line-height: 22px;
  }
  footer .footer-pc article .top :nth-child(2) {
    font-size: 0.7rem;
    line-height: 20px;
  }
  footer .footer-pc article .top :nth-child(2) :nth-child(1) {
    margin: 28px 0px 5px;
    height: 20px;
  }
  footer .footer-pc article .top :nth-child(2) :nth-child(2) {
    font-size: 0.8rem;
  }
  footer .footer-pc article .top :nth-child(2) :nth-child(3) {
    margin: 8px 0 15px;
  }
  footer .footer-pc article .top :nth-child(2) :nth-child(4) {
    align-items: start;
    width: 120px;
  }
  footer .footer-pc article .top :nth-child(2) :nth-child(4) img {
    margin: auto;
    display: block;
    width: 28px;
    height: 28px;
  }
  footer .footer-pc article .bottom {
    height: 40px;
    padding: 10px 10%;
  }
  footer .footer-pc article .bottom div {
    height: 20px;
    font-size: 0.7rem;
    line-height: 20px;
  }
}
@media screen and (max-width: 480px) {
  .header-pc {
    display: none;
  }
  .header-m {
    display: block;
    padding: 16px 20px;
    position: fixed;
    height: 47px;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: Noto Serif KR;
    font-style: normal;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .header-m img {
    cursor: pointer;
    padding: 0 3px;
  }
  .header-m :nth-child(1) img {
    width: 100%;
  }
  .header-m :nth-child(2) .home {
    color: #EAB838;
    font-size: 1rem;
    font-weight: 700;
    line-height: 150%;
  }
  .header-m .toggle nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 65%;
    height: 100%;
    font-weight: normal;
    background: #FFF;
    transform: translateX(-100%);
    transition: 1s;
    text-align: start;
    z-index: 999;
  }
  .header-m .toggle .menu {
    padding: 10px;
    color: #EAB838;
    font-size: 1rem;
    font-weight: 700;
    line-height: 150%;
    height: 47px;
    border-bottom: 1px solid #E0E2E7;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-m .toggle .menu :nth-child(1) {
    padding-left: 7px;
  }
  .header-m .toggle .menu :nth-child(2) img {
    width: 100%;
    margin: 0;
    display: block;
  }
  .header-m .toggle .sign {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 84px;
    background: #000000;
  }
  .header-m .toggle .sign div {
    padding: 14px 20px;
  }
  .header-m .toggle .sign div :nth-child(1) {
    color: #FFF;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.14px;
    margin-bottom: 14px;
  }
  .header-m .toggle .sign div :nth-child(2) {
    color: #FFF;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.14px;
  }
  .header-m .toggle li {
    padding: 14px 20px;
    height: 50px;
    cursor: pointer;
    color: #000;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.16px;
  }
  .header-m .toggle nav.active {
    transform: translateX(0%);
  }
  footer {
    height: 80px;
  }
  .footer-pc {
    display: none;
  }
  .footer-m {
    display: block;
    background: #FFF;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #E0E2E7;
  }
  .footer-m :nth-child(1) {
    color: #EAB838;
    font-family: Noto Serif KR;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.14px;
  }
  .footer-m :nth-child(2) span {
    color: #B2B3B9;
  }
  .footer-m :nth-child(2) a {
    color: #B2B3B9;
    font-family: Inter;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.12px;
  }
}
main {
  padding-top: 200px;
}
main .all_del {
  text-align: right;
  width: 800px;
  margin: 0 auto;
}
main #all_del {
  width: 100px;
  height: 30px;
  background-color: white;
  color: black;
  font-size: 16px;
  border: 1px solid #d9d9d9;
  font-family: Noto Sans KR;
  font-size: 14px;
}
main h1 {
  text-align: center;
}
main .block {
  width: 100%;
}
main .block .cart {
  width: 800px;
  margin: 50px auto;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
}
main .block .cart .list_1 {
  margin: 60px 0;
  text-align: center;
  font-weight: bolder;
}
main .block .cart #list2 {
  margin: 100px 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
main .block .cart .cart_1 li {
  width: 200px;
  height: 200px;
}
main .block .cart .cart_1 li img {
  width: 100%;
}
main .block .cart .cart_2 {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .block .cart .cart_2 button {
  width: 50px;
}
main .block .cart .cart_2 b {
  width: 200px;
  padding-right: 50px;
}
main .block .cart .cart_2 b span {
  font-size: 16px;
  color: #8C8D96;
  text-decoration: line-through;
}
main .block .cart .cart_2 p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 156px;
}
main .block .cart .cart_2 p span {
  font-size: 16px;
  color: #8C8D96;
  text-decoration: line-through;
}
main .block .cart .cart_2 p .delete {
  width: 100px;
  height: 30px;
  border: 1px solid #d9d9d9;
  background-color: white;
  color: black;
  font-family: Noto Sans KR;
}
main .block .cart .cart_2 #count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 156px;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
}
main .btn_buy1 {
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto;
  width: 800px;
}
main .btn_buy1 p {
  font-size: 24px;
}
main .btn_buy1 p b {
  font-size: 30px;
}
main .btn_buy1 #button2_location a button {
  width: 200px;
  height: 47px;
  background-color: black;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  font-family: Noto Sans KR;
}

@media (min-width: 480px) and (max-width: 768px) {
  main .all_del {
    width: 80%;
  }
  main .block #list {
    width: 80%;
  }
  main .block #list #list2 .cart_1 {
    width: 50%;
  }
  main .block #list #list2 .cart_1 li {
    width: 100%;
    height: auto;
  }
  main .block #list #list2 .cart_2 {
    padding-right: 20px;
    display: block;
    width: 60%;
    text-align: left;
    font-size: 0.8rem;
  }
  main .block #list #list2 .cart_2 b {
    padding: 0;
  }
  main .block #list #list2 .cart_2 b span {
    font-size: 0.8rem;
    text-decoration: none;
  }
  main .block #list #list2 .cart_2 p {
    display: block;
    width: auto;
    height: auto;
  }
  main .block #list #list2 .cart_2 #count {
    display: block;
    border: none;
    width: auto;
    height: auto;
  }
  main #buy_btn {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  main #buy_btn p {
    text-align: right;
    font-size: 0.8rem;
  }
  main #buy_btn p .goodssum1 {
    font-size: 1.3rem;
  }
  main #buy_btn #button2_location .button2 {
    width: 100%;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 480px) {
  main .all_del {
    width: 80%;
  }
  main .block #list {
    width: 80%;
  }
  main .block #list #list2 .cart_1 {
    width: 50%;
  }
  main .block #list #list2 .cart_1 li {
    width: 100%;
    height: auto;
  }
  main .block #list #list2 .cart_2 {
    padding-right: 20px;
    display: block;
    width: 60%;
    text-align: left;
    font-size: 0.7rem;
  }
  main .block #list #list2 .cart_2 b {
    padding: 0;
  }
  main .block #list #list2 .cart_2 b span {
    font-size: 0.7rem;
    text-decoration: none;
  }
  main .block #list #list2 .cart_2 p {
    display: block;
    width: auto;
    height: auto;
  }
  main .block #list #list2 .cart_2 #count {
    display: block;
    border: none;
    width: auto;
    height: auto;
  }
  main #buy_btn {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    display: block;
  }
  main #buy_btn p {
    text-align: right;
    font-size: 0.7rem;
  }
  main #buy_btn p .goodssum1 {
    font-size: 1.1rem;
  }
  main #buy_btn #button2_location .button2 {
    width: 100%;
    font-size: 0.8rem;
  }
}