@import "_sub";

main {
    .all_del{
        text-align: right;
        width:800px;
        margin: 0 auto;
    }
    #all_del{
        width:100px;
        height:30px;
        background-color: white;
        color: black;
        font-size:16px;
        border: 1px solid #d9d9d9;
        font-family: Noto Sans KR;
        font-size: 14px;
    }
    padding-top: 200px;
    h1{
        text-align: center;
    }
    
    .block {
        width:100%;
        
        .cart {
            width:800px;
            margin : 50px auto;
            border : 1px solid #d9d9d9;
            border-radius: 30px;
            .list_1{
                margin:60px 0;
                text-align: center;
                font-weight: bolder;
            }
            #list2 {
                margin:100px 0;
                display: flex;
                justify-content: start;
                align-items: center;
            }

            .cart_1 {
                li {
                    width: 200px;
                    height: 200px;

                    img {
                        width: 100%
                    }
                }
            }

            .cart_2 {
                
                width: auto;
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    width: 50px;
                }

                b {
                    width:200px;
                    padding-right:50px;
                    span {
                        font-size: 16px;
                        color: #8C8D96;
                        text-decoration: line-through;
                    }
                    
                    
                }
                p{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width:200px;
                    height: 156px;
                    span {
                        font-size: 16px;
                        color: #8C8D96;
                        text-decoration: line-through;
                    }
                    .delete {
                        width:100px;
                        height:30px;
                        border : 1px solid #d9d9d9;
                        background-color: white;
                        color: black;
                        font-family: Noto Sans KR;
                    }
                    
                }
                #count{
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    width:200px;
                    height: 156px;
                    border-left: 1px solid #d1d1d1;
                    border-right: 1px solid #d1d1d1;

                }

                

                
            }

        }
    }
    .btn_buy1{
        
        // border: 1px solid #d9d9d9;
        border-radius: 20px;
        // padding: 50px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: 100px auto;
        width:800px;
        p{
            font-size: 24px;
            b{
                font-size: 30px;
            }
        }
        #button2_location{
            a{
                button{
                    width:200px;
                    height:47px;
                    background-color: black;
                    color:white;
                    font-weight: bolder;
                    font-size: 20px;
                    font-family: Noto Sans KR;
                }
            }
        }
        
    }
}



//패드
@include res($pad){
    main{
        .all_del{
            width:80%;
        }
        .block{
            #list{
                width:80%;
                #list2{
                    .cart_1{
                        width:50%;
                        li{
                            width:100%;
                            height:auto;
                        }
                    }
                    .cart_2{
                        padding-right:20px;
                        display:block;
                        width:60%;
                        text-align: left;
                        font-size: 0.8rem;
                        b{
                            padding:0;
                            span{
                                font-size: 0.8rem;
                                text-decoration: none;
                            }
                        }
                        p{
                            display:block;
                            width:auto;
                            height:auto;
                            // text-align: center;
                            .delete{

                            }
                        }
                        #count{
                            display:block;
                            border:none;
                            width:auto;
                            height:auto;

                            // text-align: right;
                        }
                    }
                }
            }
        }
        #buy_btn{
            width:80%;
            display:block;
            margin:0 auto;
            p{
                text-align: right;
                font-size: 0.8rem;
                .goodssum1{
                    font-size: 1.3rem;
                }
            }
            #button2_location{
                .button2{
                    width:100%;
                    font-size: 1.1rem;
                }
            }
        }
    }
}

//모바일
@include res($mobile){
    main{
        .all_del{
            width:80%;
        }
        .block{
            #list{
                width:80%;
                #list2{
                    .cart_1{
                        width:50%;
                        li{
                            width:100%;
                            height:auto;
                        }
                    }
                    .cart_2{
                        padding-right:20px;
                        display:block;
                        width:60%;
                        text-align: left;
                        font-size: 0.7rem;
                        b{
                            padding:0;
                            span{
                                font-size: 0.7rem;
                                text-decoration: none;
                            }
                        }
                        p{
                            display:block;
                            width:auto;
                            height:auto;
                            // text-align: center;
                            .delete{

                            }
                        }
                        #count{
                            display:block;
                            border:none;
                            width:auto;
                            height:auto;

                            // text-align: right;
                        }
                    }
                }
            }
        }
        #buy_btn{
            text-align: center;
            width:80%;
            margin: 0 auto;
            display:block;
            p{
                text-align: right;
                font-size: 0.7rem;
                .goodssum1{
                    font-size: 1.1rem;
                }
            }
            #button2_location{
                .button2{
                    width:100%;
                    font-size: 0.8rem;
                }
            }
        }
    }
}

