@import "_sub";

// PC --시작
.main-section {
    display: none;
    max-width: 1180px;
    padding: 0 5px;
    margin: 80px auto 0 auto;

    .popbg {
        opacity: 0;
        transition: 0.3s;
    }

    .bg-active {
        opacity: 100%;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
    }

    // 상세정보-상품후기 분할 탭
    #review-menu-tab {
        font-size: 0.8rem;
        text-align: center;

        @include flex(center);

        p {
            padding: 10px 0;
            width: 50%;
        }

        .menu-tab-01 {
            border-bottom: 1px solid black;
        }

        .menu-tab-02 {
            border: solid black;
            border-width: 1px 0 0 1px;
            font-weight: 700;
        }
    }

    // 별점
    .review-count {
        padding: 40px 0;
        border-bottom: 1px solid #E0E2E7;
        font-size: 2.5rem;

        @include flex(center) {
            flex-wrap: nowrap;
        }

        .star-count {
            background: #000;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }

        .review-score {
            margin-left: 10px;
            font-weight: 700;
        }
    }

    // 리뷰 영역
    .review-container {
        .tab {
            padding: 20px 0;

            @include flex(space-between) {
                align-items: flex-end;
            }

            p {
                span {
                    font-weight: 700;
                }
            }

            .review-tab-right {
                @include flex(space-between) {
                    gap: 20px;
                }

                .selectBox {
                    // 드롭 다운 메뉴
                    font-family: 'Noto Sans KR', sans-serif;
                    border: 0;
                    border-bottom: 1px solid #000;
                    appearance: none;
                    background: url('../images/icons/dropdown_down.png') no-repeat 100% 50%/15px auto;

                    position: relative;
                    width: 150px;
                    height: 40px;
                    box-sizing: border-box;
                    background-size: 15px;
                    cursor: pointer;

                    &.active {
                        background: url('../images/icons/dropdown_up.png') no-repeat 100% 50%/15px auto;
                    }

                    .label {
                        font-family: 'Noto Sans KR', sans-serif;
                        font-size: 0.9rem;
                        font-weight: 700;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: inherit;
                        height: inherit;
                        border: 0 none;
                        outline: 0 none;
                        background: transparent;
                        cursor: pointer;
                    }

                    .optionList {
                        max-height: 0;
                        transition: 0.2s ease-in;
                        overflow: hidden;

                        position: absolute;
                        top: 39px;

                        border: solid black;
                        border-width: 0 1px 1px 1px;
                        margin: 0;
                        width: 150px;
                        padding: 0;
                        list-style-type: none;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        &.active {
                            opacity: 1;
                            max-height: 122px;
                            background: #fff;
                            transform: translateY(1px);
                        }
                    }

                    .optionList.active .optionItem:hover {
                        color: #fff;
                        background-color: black;
                    }

                    .optionItem {
                        font-size: 0.9rem;
                        text-align: center;
                        width: 100%;
                        padding: 10px 0;
                    }
                }

                p {
                    // 후기 작성하기 버튼
                    @include btn(0.8rem);
                    font-weight: 700;

                    @include flex(center) {
                        align-items: center;
                    }
                }
            }
        }

        .write-review {
            .review-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 50px;
                border: none;
                background-color: #000;
                color: #fff;
                font-size: 0.9rem;
                font-weight: 700;
            }

            .popup-container {
                display: none;
                padding: 20px;
                position: fixed;
                top: 50%;
                left: 50%;
                z-index: 1;
                transform: translatex(-1000%) translatey(-1000%);
                width: 500px;
                height: 480px;
                border-radius: 10px;
                background: #fff;
                box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.2);
                transition: 0.3s;

                &.active {
                    display: block;
                    opacity: 100%;
                    transform: translate(-50%) translatey(-50%);
                }

                #review-popup {
                    display: flex;
                    gap: 20px;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-between;

                    &.hidden {
                        display: none;
                    }

                    .tab {
                        line-height: 0;
                        font-size: 1.5rem;
                        font-weight: 700;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .close {
                            width: 1.5rem;
                            height: 1.5rem;
                            background: url(../images/icons/close-icon-svg-b.png);
                            background-size: cover;
                        }
                    }

                    .goods {
                        display: flex;
                        padding-bottom: 20px;
                        gap: 10px;
                        border-bottom: 1px solid #ddd;

                        .goods_img {
                            margin: 0;
                            background: gray;
                            width: 100px;
                            height: 100px;
                            object-fit: cover;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .goods_info {
                            width: 100%;
                            overflow: hidden;

                            @include flex(space-between) {
                                flex-direction: column;
                            }

                            span {
                                font-size: 0.9rem;
                                color: gray;
                            }

                            p {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                margin: 0;
                                font-size: 1.1rem;
                            }

                            .star-container {
                                display: flex;


                                .star {
                                    position: relative;
                                    font-size: 2rem;
                                    color: #ddd;

                                    input {
                                        font-size: 2rem;
                                        width: 100%;
                                        height: 100%;
                                        position: absolute;
                                        left: 0;
                                        opacity: 0;
                                        cursor: pointer;
                                    }

                                    span {
                                        font-size: 2rem;
                                        position: absolute;
                                        width: 50%;
                                        left: 0;
                                        color: #EAB838;
                                        overflow: hidden;
                                        pointer-events: none;
                                    }
                                }

                                .star-grade {
                                    font-weight: 700;
                                    padding-left: 10px;
                                    font-size: 2rem;
                                }
                            }
                        }
                    }

                    textarea {
                        font-family: 'Noto Sans KR', sans-serif;
                        box-sizing: border-box;
                        width: 100%;
                        height: 200px;
                        border: 0;
                        font-size: 1.1rem;
                        padding: 10px;
                        resize: none;
                    }

                    textarea:focus-visible {
                        outline: 0;
                    }

                    button {
                        font-family: 'Noto Sans KR', sans-serif;
                        font-size: 1.1rem;
                        width: 100%;
                        border: 1px solid #000;
                        padding: 10px;
                        transition: 0.2s;
                        background-color: #fff;

                        &:hover {
                            background-color: #000;
                            color: #fff;
                        }
                    }
                }

                .next-step {
                    display: none;
                    transition: 0.5s;

                    &.active {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                    }

                    div {
                        padding: 40px 0;
                        text-align: center;

                        .icon {
                            margin: auto;
                            margin-bottom: 8px;
                            width: 120px;
                            height: 120px;
                            background: url(../images/icons/review-next-step.png);
                        }

                        strong {
                            font-size: 1.5rem;
                        }

                        p {
                            margin-top: 40px;
                            color: gray;
                            text-align: center;
                        }
                    }

                    .close {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        border: 1px solid #000;
                        background-color: #000;
                        box-sizing: border-box;
                        padding: 10px;
                        color: #fff;
                        font-size: 1.1rem;
                    }
                }

            }
        }
    }

    .review-list-container {
        display: flex;
        flex-direction: column-reverse;

        font-size: 1rem;
        padding: 40px 0;

        .list-result {
            padding: 40px 0;
            border-bottom: 1px solid #E0E2E7;

            @include flex(space-between) {
                gap: 40px;
                justify-content: flex-start;
            }

            .left {
                @include flex(center) {
                    gap: 0.5rem;
                    flex-direction: column;
                    justify-content: flex-start;
                }

                .star-count {
                    background: #8C8D96;
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                }

                p {
                    font-size: 0.8rem;
                    color: #8C8D96;
                }
            }

            .right {
                max-width: 960px;
                font-size: 0.8rem;
                line-height: 1.6;
            }
        }
    }

    .review-list-container.dir2 {
        flex-direction: column;
    }
}

// PC -- 끝
// $mobile: 390px;
// $pad: 768px;
// $tablet: 1024px;
// $desktop: 1280px;
@include res($pad) {

    html,
    body {
        font-size: 15px;
    }

    .main-section .review-container .tab .review-tab-right p {
        padding: 0 15px;
    }

    .main-section .review-container .write-review .popup-container {
        width: 360px;
    }
}

@include res($mobile) {

    html,
    body {
        font-size: 14px;
    }

    .main-section .review-container .tab .review-tab-right .selectBox,
    .main-section .review-container .tab .review-tab-right .selectBox .optionList {
        width: 100px;
    }

    .main-section .review-container .tab .review-tab-right p {
        padding: 0 15px;
    }

    .main-section .review-list-container {
        padding: 0;
    }

    .main-section .review-container .write-review .popup-container {
        width: 90%;
    }

    .main-section .review-container .write-review .popup-container #review-popup .goods .goods_info .star-container .star input,
    .main-section .review-container .write-review .popup-container #review-popup .goods .goods_info .star-container .star span,
    .main-section .review-container .write-review .popup-container #review-popup .goods .goods_info .star-container .star,
    .main-section .review-container .write-review .popup-container #review-popup .goods .goods_info .star-container .star-grade {
        font-size: 1.5rem;
    }
}