@import "_sub";

header {
    top: 0;
    left: 0;
}

#up {
    position: fixed;
    bottom: 100px;
    right: 50px;
    width: 50px;
    height: 50px;
    border: none;
    background: url(../images/icons/up.png) no-repeat center;
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateY(150px);
    transition: 1.0s;
    z-index: 5000;

}

#up:hover {
    background-color: rgba(0, 0, 0, 1);
}

#down {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border: none;
    background: url(../images/icons/down.png) no-repeat center;
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateY(100px);
    transition: 1.0s;
    z-index: 5000;
}

#down:hover {
    background-color: rgba(0, 0, 0, 1);
}

.search {
    max-width: 1180px;
    padding: 0 5px;
    margin: 80px auto;
    margin-top: 210px;
}

.search-result {
    @include flex(flex-start) {
        flex-direction: column;
        align-items: center;
    }

    .input-container {
        width: 100%;

        @include flex(center) {}

        .input {
            font-size: 1rem;
            font-family: 'Noto Sans KR', sans-serif;
            width: 600px;
            padding: 10px 12px 10px 2.5rem;
            outline: none;
            border-style: none;
            border: 0;
            border-bottom: 1px solid #000;
            background-image: url('../images/main/search-icon-svg_b.png');
            background-repeat: no-repeat;
            background-size: 1rem;
            background-position: 10px center;
        }

        button {
            text-wrap: nowrap;
            font-size: 1rem;
            font-family: 'Noto Sans KR', sans-serif;
            margin-left: 10px;
            border: none;
            padding: 0.5rem 1.5rem;
            background-color: #000;
            color: #fff;
        }

    }

    .search-title {
        text-align: center;
        margin: 4rem 0;

        .search-text {
            font-size: 1.5rem;
            font-weight: 700;
        }

        .search-length {
            color: #B2B3B9;
        }
    }

    .search-list {
        .search-item {
            cursor: pointer;
            padding: 20px;
            margin-bottom: 10px;
            border: 1px solid #E0E2E7;
            transition: 0.1s;

            @include flex(flex-start) {
                align-items: center;
                gap: 20px;
            }

            &:hover {
                border-color: #eab838;
            }

            img {
                width: 160px;
                height: 100%;
                object-fit: cover;
            }

            figcaption {
                p:nth-of-type(1) {
                    color: #B2B3B9;
                    font-size: 0.8rem;
                    margin-bottom: 0.2rem;
                }

                p:nth-of-type(2) {}

                p:nth-of-type(3) {
                    margin-top: 1rem;

                    span:nth-of-type(1) {
                        font-weight: 700;
                    }

                    span:nth-of-type(2) {
                        margin-left: 0.5rem;
                        color: rgba(0, 0, 0, .5);
                        text-decoration-line: line-through;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

@include res($mobile) {

    html,
    body {
        font-size: 14px;
    }

    .search-result .search-title {
        margin: 2rem 0;
    }

    .search-result .search-list .search-item img {
        width: 100px;
    }
}