@import "_sub";

// PC --시작

main {
    padding-top: 200px;
    #up {
        position: fixed;
        bottom: 100px;
        right: 50px;
        width: 50px;
        height: 50px;
        border: none;
        background: url(../images/icons/up.png) no-repeat center;
        background-color: rgba(0, 0, 0, 0.3);
        transform: translateY(150px);
        transition: 1.0s;
        z-index: 5000;
        
    }

    #up:hover {
        background-color: rgba(0, 0, 0, 1);
    }

    #down {
        position: fixed;
        bottom: 50px;
        right: 50px;
        width: 50px;
        height: 50px;
        border: none;
        background: url(../images/icons/down.png) no-repeat center;
        background-color: rgba(0, 0, 0, 0.3);
        transform: translateY(100px);
        transition: 1.0s;
        z-index: 5000;
    }

    #down:hover {
        background-color: rgba(0, 0, 0, 1);
    }


    .view_1 {
        width: 1180px;
        height: 670px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 5px;


        //메인이미지, 서브이미지 
        
        .view_img_1 {
            width: 560px;
            height: 100%;
            display: flex;
            flex-direction: column;


            .view_main_img {
                
                width: 100%;
                height: 70%;
                transition: 0.5s;
            }

            .view_main_img:hover {
                transition: 0.5s;
                transform: scale(1.1);
            }

            .view_sub_image {
                width: 100%;
                height: 100%;
                display: flex;
                margin-top: 20px;

                img {
                    border: 1px solid #E0E2E7;
                    width: 30%;
                    margin-right: 20px;

                }

            }
        }

        //제품 스펙
        .view_text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 560px;
            color: #8C8D96;
            font-size: 18px;

            .view_text_1 {

                #goods_name {
                    font-size: 30px;
                    line-height: 150%;
                    font-weight: 400;
                    color: black;
                }

                #line {
                    border-bottom: 1px solid black;
                    margin-top: 40px;
                    margin-bottom: 20px;
                }
            }

            .goods_text {
                display: flex;
                justify-content: left;
                font-size: 18px;
                line-height: 180%;
                font-weight: 400;

                .view_text_1 {
                    width: 20%;
                    color: #8C8D96;
                }

                .view_text_2 {
                    margin-left: 60px;
                    font-weight: 400;
                    color: #000000;

                    #sale {
                        text-decoration: 1px line-through black;
                    }
                }


            }

            // 수량설정
            .text_box {
                display: flex;
                flex-direction: column;
                padding: 20px;
                background-color: #F7F8FA;
                margin: 20px 0;
                color: #8C8D96;
                font-size: 14px;

                #text2 {
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    color: #000000;
                    font-size: 18px;
                    font-weight: 800;

                    .input_text {
                        width: 85px;
                        height: 30px;
                        font-size: 18px;
                        border: 1px solid black;
                    }
                }
            }

            //구매하기 버튼
            .btn_buy {

                #text3 {

                    p {
                        color: #8C8D96;
                        font-size: 18px;
                        text-align: right;
                        margin-bottom: 20px;
                    }

                    b {
                        color: black;
                        font-size: 36px;
                        font-weight: bold;
                    }
                }

                #button1_location {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    bottom: 0;



                    .cart {
                        width: 270px;
                        height: 60px;
                        color: black;
                        font-size: 18px;
                        font-weight: bold;
                        background-color: white;
                        font-family: Noto Sans KR;
                        border: 1px solid black;

                    }

                    .location {

                        .button1 {
                            width: 270px;
                            height: 60px;
                            color: white;
                            font-size: 18px;
                            font-weight: bold;
                            background-color: black;
                            font-family: Noto Sans KR;
                            border: 1px solid black;
                        }
                    }
                }
            }

        }
    }

    //상세, 후기 라인
    #goods_line {
        width: 1170px;
        display: flex;
        margin: 80px auto 0 auto;


        .goods_ex_line {
            text-align: center;
            width: 100%;
            border: 1px solid #8C8D96;
            border-width: 1px 1px 0 0;
            font-weight: bold;
            padding: 10px;
            font-size: 14px;

            &.active {
                text-align: center;
                width: 100%;
                border-width: 0 0 1px 0;
                font-weight: 400;
                padding: 10px;
                font-size: 14px;
            }
        }

        .goods_review_line {
            text-align: center;
            width: 100%;
            border: 1px solid #8C8D96;
            border-width: 0 0 1px 0;
            font-weight: 400;
            padding: 10px;
            font-size: 14px;

            &.active {
                text-align: center;
                width: 100%;
                border-width: 1px 0 0 1px;
                font-weight: bold;
                padding: 10px;
                font-size: 14px;
            }
        }
    }

    //제품상세
    .img_ex_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 40px;

        .img_ex {
            overflow: hidden;
            height: 2051px;

            img {
                width: 1179px;
            }
        }

        //펼치기
        .expand {
            width: 246px;
            height: 42px;
            background-color: black;

            p {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 25px;
            }

        }

        //접기
        .fold {
            display: none;
            width: 246px;
            height: 42px;
            background-color: black;

            p {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 25px;
            }

        }

    }

    //모바일 구매하기
    .m_buy_all {
        display: none;
    }


}


.menu-tab {

    font-size: 14px;
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;

    @include flex(center);

    p {
        padding: 10px 0;
        width: 50%;
    }

    .menu-tab-01 {
        border-bottom: 1px solid black;
    }

    .menu-tab-02 {
        border: solid black;
        border-width: 1px 1px 0 1px;
        font-weight: 700;
    }
}


// PC -- 끝


@include res($pad) {
    main {

        padding-top: 150px;

        .view_1 {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            padding: 0 5px;


            .view_img_1 {
                width: 100%;

                .view_main_img {
                    
                    width: 100%;
                    height: 100%;
                }

                .view_main_img:hover {
                    
                }

                .view_sub_image {
                    display: none;
                    width: 100%;
                    margin-top: 20px;

                    img {
                        border: 1px solid #E0E2E7;
                        width: 30%;
                        margin-right: 20px;

                    }

                }
            }

            .view_text {
                position: relative;
                width: 100%;
                height: 600px;
                color: #8C8D96;
                font-size: 18px;
                margin: 40px 0;

                .view_text_1 {
                    width: 100%;

                    #goods_name {
                        width: 100%;
                        font-size: 30px;
                        line-height: 150%;
                        font-weight: 400;
                        color: black;
                    }

                    #line {
                        border-bottom: 1px solid black;
                        margin-top: 40px;
                        margin-bottom: 20px;
                    }
                }

                .goods_text {
                    width: 100%;
                    font-size: 18px;
                    line-height: 180%;
                    font-weight: 400;

                    .view_text_1 {
                        color: #8C8D96;
                    }

                    .view_text_2 {
                        margin-left: 60px;
                        font-weight: 400;
                        color: #000000;

                        #sale {
                            text-decoration: 1px line-through black;
                        }
                    }


                }

                .text_box {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    background-color: #F7F8FA;
                    margin: 40px 0;
                    color: #8C8D96;
                    font-size: 14px;

                    #text2 {
                        margin-top: 20px;
                        display: flex;
                        justify-content: space-between;
                        color: #000000;
                        font-size: 18px;
                        font-weight: 800;

                        .input_text {
                            width: 85px;
                            height: 30px;
                            font-size: 18px;
                        }
                    }
                }

                .btn_buy {
                    width: 100%;

                    #text3 {

                        margin-bottom: 20px;

                        p {
                            width: 100%;
                            color: #8C8D96;
                            font-size: 18px;


                        }

                        b {
                            color: black;
                            font-size: 36px;
                            font-weight: bold;
                        }
                    }

                    #button1_location {
                        width: 100%;

                        display: flex;
                        justify-content: space-between;

                        .cart {
                            width: 45%;
                            height: 60px;
                            color: black;
                            font-size: 18px;
                            font-weight: bold;
                            background-color: white;
                            font-weight: Noto Sans KR;

                        }

                        .location {
                            width: 45%;

                            .button1 {
                                width: 100%;
                                height: 60px;
                                color: white;
                                font-size: 18px;
                                font-weight: bold;
                                background-color: black;
                                font-weight: Noto Sans KR;
                            }
                        }
                    }
                }

            }
        }


        #goods_line {
            width: 100%;
            display: flex;

            .goods_ex_line {
                text-align: center;
                width: 100%;
                border: 1px solid #8C8D96;
                border-width: 1px 1px 0 0;
                font-weight: bold;
                padding: 10px;
                font-size: 14px;

                &.active {
                    text-align: center;
                    width: 100%;
                    border-width: 0 0 1px 0;
                    font-weight: 400;
                    padding: 10px;
                    font-size: 14px;
                }
            }

            .goods_review_line {
                text-align: center;
                width: 100%;
                border: 1px solid #8C8D96;
                border-width: 0 0 1px 0;
                font-weight: 400;
                padding: 10px;
                font-size: 14px;

                &.active {
                    text-align: center;
                    width: 100%;
                    border-width: 1px 0 0 1px;
                    font-weight: bold;
                    padding: 10px;
                    font-size: 14px;
                }
            }
        }

        .img_ex_text {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;



            .img_ex {


                img {
                    width: 100%;
                }
            }

            .expand {

                width: 246px;
                height: 42px;
                background-color: black;

                p {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 25px;
                }

            }

            .fold {
                display: none;
                width: 246px;
                height: 42px;
                background-color: black;

                p {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 25px;
                }

            }

        }

        .m_buy_all {
            display: none;
     
                        }

    }

}

@include res($mobile) {

    main {
        padding-top: 100px;
        
        

        .view_1 {
            width: 100%;
            height: 670px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 0 5px;

            .view_img_1 {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 auto;


                .view_main_img {
                    width: 100%;
                }

                .view_main_img:hover {
                    transform: scale(1);
                }

                .view_sub_image {
                    display: none;
                }
            }

            .view_text {
                width: 100%;
                display: flex;
                flex-direction: column;
                color: #8C8D96;
                font-size: 15px;
                margin: 40px 0;

                .view_text_1 {
                    width: 100%;

                    #goods_name {
                        font-size: 20px;
                        line-height: 150%;
                        font-weight: 400;
                        color: black;
                    }
                }

                #line {
                    border-bottom: 1px solid black;
                    margin-top: 40px;
                    margin-bottom: 20px;
                }

                .goods_text {

                    font-size: 18px;
                    line-height: 180%;
                    font-weight: 400;

                    #view_text_1 {
                        color: #8C8D96;
                    }

                    .view_text_2 {
                        margin-left: 60px;
                        font-weight: 400;
                        color: #000000;

                        #sale {
                            text-decoration: 1px line-through black;
                        }
                    }

                }

                .text_box {
                    display: none;
                }

                .btn_buy {
                    display: none;

                }
            }
        }


        #goods_line {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 0 5px;



            .goods_ex_line {
                text-align: center;
                width: 100%;
                border: 1px solid #8C8D96;
                border-width: 1px 1px 0 0;
                font-weight: bold;
                padding: 10px;
                font-size: 14px;

                &.active {
                    text-align: center;
                    width: 100%;
                    border-width: 0 0 1px 0;
                    font-weight: 400;
                    padding: 10px;
                    font-size: 14px;
                }
            }

            .goods_review_line {
                text-align: center;
                width: 100%;
                border: 1px solid #8C8D96;
                border-width: 0 0 1px 0;
                font-weight: 400;
                padding: 10px;
                font-size: 14px;

                &.active {
                    text-align: center;
                    width: 100%;
                    border-width: 1px 0 0 1px;
                    font-weight: bold;
                    padding: 10px;
                    font-size: 14px;
                }
            }
        }

        .img_ex_text {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
           padding: 0 5px;


            .img_ex {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .expand {
                display: none;
            }

            .fold {
                display: none;
            }

        }

        .m_buy_all {
            width: 100%;
            display: block;
            position: fixed;
            bottom: 0;
            transition: 1s;
            transform: translateY(164.55px);

            &.active {
                transition: 1s;
                transform: translateY(0%);
            }

            .m_down_up {
                width: 20%;
                background-color: rgba($color: gray, $alpha: 0.7);
                border-radius: 4px;
                text-align: center;
                color: white;
                margin: 0 auto;

                &.active {
                    transform: rotate(180deg);

                }

            }

            .m_buy {
                width: 100%;
                border-top: 1px solid black;
                background-color: white;
                color: black;
                margin: 0 auto;
                

                #m_line {
                    
                }

                .m_textbox {
                    
                    margin: 10px 0;
                    text-align: center;
                    

                    .m_text1 {

                        p {
                            font-weight: 800;
                            text-align: left;
                            margin-bottom: 10px;
                        }
                    }

                    #m_text2 {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        .m_inputbox {
                            display: flex;
                            padding: 0;
                            .m_valuedown {
                                width: 15%;
                                border: 1px solid black;

                            }

                            .m_input_text {
                                width: 15%;
                                text-align: center;
                                transform: translateX(-1px);

                            }

                            .m_valueup {
                                width: 15%;
                                border: 1px solid black;
                                transform: translateX(-2px);
                            }
                        }

                        .m_price1 {
                            width: 50%;
                            text-align: right;
                        }
                        
                        .m_input_text::-webkit-outer-spin-button,
                        .m_input_text::-webkit-inner-spin-button {
                            
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                        }


                        p {
                            font-weight: bolder;
                        }

                    }
                }

                .m_btn_buy {
                    text-align: center;
                    border-top: 1px solid rgb(207, 202, 202);

                    p {
                        font-weight: bolder;
                        margin: 10px 0;
                        width: 100%;
                        text-align: end;

                        .m_goodssum {}
                    }

                    #m_button1_location {
                        width: 100%;
                        height: 35px;
                        display: flex;
                        justify-content: space-between;
                        
                        .m_cart {
                            border: 0px;
                            background-color: white;
                        }

                        .m_location {
                            width: 90%;
                           height: 100%;
                            .m_button1 {
                                width: 100%;
                                height: 100%;
                                border: 1px solid white;
                                background-color: black;
                                color: white;

                            }
                        }
                    }
                }


            }
        }


    }


}